@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="under_header">
    <img src="~/Content/images/bg/breadcrumbs8.png" alt="#">
</div><!-- under header -->

<div class="page-content back_to_up">
    <div class="row clearfix mb">
        <div class="breadcrumbIn">
            <ul>
                <li><a href="index-2.html" class="toptip" title="Homepage"> <i class="icon-home"></i> </a></li>
                <li><a href="blog-right-sidebar.html"> Blog </a></li>
                <li> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet </li>
            </ul>
        </div><!-- breadcrumb -->
    </div><!-- row -->

    <div class="row row-fluid clearfix mbf">
        <div class="span8 posts">
            <div class="def-block">
                <div class="post row-fluid clearfix">
                    <a href="blog-single_half.html"><img src="images/assets/post2.jpg" alt="#"></a>
                    <h3 class="post-title"> <i class="icon-pencil"></i><a href="blog-single_half.html">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</a> </h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus...</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>

                    <p>
                        <span> Tags: </span>
                        <a href="#" class="#"> mp3 </a>,
                        <a href="#" class="#"> interview </a>,
                        <a href="#" class="#"> remix </a>
                    </p><!-- tags -->

                    <div class="meta">
                        <span> <i class="icon-user mi"></i> Admin </span>
                        <span> <i class="icon-time mi"></i>August 20, 2013 2:00 AM </span>
                        <span> <a href="#"><i class="icon-comments-alt"></i> 4 Comments</a> </span>
                    </div><!-- meta -->


                    <div class="like-post">
                        <div id="fb-root"></div>
                        <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "../../connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="80" data-layout="button_count" data-show-faces="false" data-send="false"></div>
                    </div><!-- like -->
                </div><!-- post -->

                <div class="post-links clearfix">
                    <a class="fll" href="blog-single-video.html" title="#"><i class="icon-long-arrow-left"></i> Nemo enim ipsam voluptatem quia voluptas sit</a>
                    <a class="flr" href="blog-single-slider.html" title="#">Neque porro quisquam est, qui <i class="icon-long-arrow-right"></i></a>
                </div><!-- post links -->
                <!-- Disqus Comment Form -->
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* <![CDATA[ */
                    var disqus_shortname = 'remixtemplate';
                    (function () {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                    /* ]]> */
                </script><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <!-- Disqus Comment Form -->

            </div><!-- def block -->
        </div><!-- span8 posts -->

        <div class="span4 sidebar">
            <div class="def-block widget">
                <h4> NewsLetters </h4><span class="liner"></span>
                <div class="widget-content">
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                    <form id="newsletters" method="post" action="http://feedburner.google.com/fb/a/mailverify" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=sevenpsd', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                        <input type="email" onfocus="if (this.value=='Type Your Email') this.value = '';" onblur="if (this.value=='') this.value = 'Type Your Email';" value="Type Your Email" placeholder="Type Your Email" required="required">
                        <button type="submit"><i class="icon-ok"></i></button>
                    </form>
                </div><!-- widget content -->
            </div><!-- def block widget NewsLetters -->

            <div class="def-block widget">
                <h4> Categories </h4><span class="liner"></span>
                <div class="widget-content">
                    <ul class="list">
                        <li><a href="#"><i class="icon-caret-right"></i> News and updates (7) </a></li>
                        <li><a href="#"><i class="icon-caret-right"></i> Interviews (13)</a></li>
                        <li><a href="#"><i class="icon-caret-right"></i> Concerts (34)</a></li>
                        <li><a href="#"><i class="icon-caret-right"></i> Videos (19)</a></li>
                        <li><a href="#"><i class="icon-caret-right"></i> Podcasts (17)</a></li>
                    </ul>
                </div><!-- widget content -->
            </div><!-- def block widget categories -->

            <div class="def-block widget">
                <h4> Tags </h4><span class="liner"></span>
                <div class="widget-content tags">
                    <a href="#" class="#" title="17 topic"><i class="icon-tag"></i> mp3 </a>
                    <a href="#" class="#" title="44 topic"><i class="icon-tag"></i> interview </a>
                    <a href="#" class="#" title="10 topic"><i class="icon-tag"></i> video </a>
                    <a href="#" class="#" title="20 topic"><i class="icon-tag"></i> ogg </a>
                    <a href="#" class="#" title="2 topic"><i class="icon-tag"></i> fl studio </a>
                    <a href="#" class="#" title="29 topic"><i class="icon-tag"></i> dj angel </a>
                    <a href="#" class="#" title="4 topic"><i class="icon-tag"></i> remix </a>
                </div><!-- widget content -->
            </div><!-- def block widget tags -->

            <div class="def-block widget">
                <h4> Featured Videos </h4><span class="liner"></span>
                <div class="widget-content row-fluid">
                    <div class="videos clearfix flexslider">
                        <ul class="slides">
                            <li class="featured-video">
                                <a href="video_single_wide.html">
                                    <img src="images/assets/video1.jpg" alt="#">
                                    <i class="icon-play-sign"></i>
                                    <h3>I Know You Want Me</h3>
                                    <span>Fitbull</span>
                                </a>
                            </li><!-- slide -->
                            <li class="featured-video">
                                <a href="video_single_wide.html">
                                    <img src="images/assets/video2.jpg" alt="#">
                                    <i class="icon-play-sign"></i>
                                    <h3>I Like It</h3>
                                    <span>Enrique</span>
                                </a>
                            </li><!-- slide -->
                            <li class="featured-video">
                                <a href="video_single_wide.html">
                                    <img src="images/assets/video3.jpg" alt="#">
                                    <i class="icon-play-sign"></i>
                                    <h3>Tommorow</h3>
                                    <span>Dj Michele</span>
                                </a>
                            </li><!-- slide -->
                        </ul>
                    </div>
                </div><!-- widget content -->
            </div><!-- def block widget videos -->

            <div class="def-block widget">
                <h4> Popular Tracks </h4><span class="liner"></span>
                <div class="widget-content row-fluid">
                    <div class="scroll-mp3" style="height: 220px;">
                        <div class="content">
                            <ul class="tab-content-items">
                                <li class="clearfix">
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/thumb-mp3-1.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Don’t go mary ( Remix )</a></h3>
                                    <span> Alexander </span>
                                    <span> 1,892,250 Plays </span>
                                </li>
                                <li class="clearfix">
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/thumb-mp3-2.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">That's My Kind Of Night </a></h3>
                                    <span> Alexander Mikoole </span>
                                    <span> 998,879 Plays </span>
                                </li>
                                <li class="clearfix">
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/thumb-mp3-3.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Magna Carta... Holy Grail </a></h3>
                                    <span> Joe </span>
                                    <span> 792,240 Plays </span>
                                </li>
                                <li class="clearfix">
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/thumb-mp3-4.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">If you love me</a></h3>
                                    <span> Enrique </span>
                                    <span> 788,471 Plays </span>
                                </li>
                                <li class="clearfix">
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/thumb-mp3-5.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Burning For you</a></h3>
                                    <span> Lura </span>
                                    <span> 710,105 Plays </span>
                                </li>
                                <li class="clearfix">
                                    <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/thumb-mp3-6.jpg" alt="#"></a>
                                    <h3><a href="mp3_single_half.html">Skyfool ( Dubstep Remix )</a></h3>
                                    <span> Babel </span>
                                    <span> 611,748 Plays </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- widget content -->
            </div><!-- def block widget popular items -->

            <div class="def-block widget">
                <h4> Ads </h4><span class="liner"></span>
                <div class="widget-content tac">
                    <a href="#" title="Advertise"><img src="images/ads1.gif" alt="#"></a>
                </div><!-- widget content -->
            </div><!-- def block widget ads -->

        </div><!-- span4 sidebar -->
    </div><!-- row clearfix -->
</div><!-- end page content -->