
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="under_header">
    <img src="~/Content/images/bg/breadcrumbs7.png" alt="#">
</div><!-- under header -->

<div class="page-content back_to_up">
    <div class="row clearfix mb">
        <div class="breadcrumbIn">
            <ul>
                <li><a href="index-2.html" class="toptip" title="Homepage"> <i class="icon-home"></i> </a></li>
                <li> Blog </li>
            </ul>
        </div><!-- breadcrumb -->
    </div><!-- row -->

    <div class="row row-fluid clearfix mbf">
        <div class="posts">
            <div class="def-block">
                <div class="post row-fluid clearfix">
                    <iframe src="http://player.vimeo.com/video/72456426?title=1&amp;byline=1&amp;portrait=1" height="500"></iframe>
                    <h3 class="post-title"> <i class="icon-play"></i><a href="blog-single_half.html">Et harum quidem rerum facilis est et expedita distinctio</a> </h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus...</p>
                    <div class="meta">
                        <span> <i class="icon-user mi"></i> Admin </span>
                        <span> <i class="icon-time mi"></i>August 20, 2013 2:00 AM </span>
                        <span> <a href="#"><i class="icon-comments-alt"></i> 4 Comments</a> </span>
                    </div><!-- meta -->
                    <a href="news_single.html" class="Rmore tbutton small"><span>Read More</span></a>
                </div><!-- post -->

                <div class="post row-fluid clearfix">
                    <iframe height="167" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2304944"></iframe>
                    <h3 class="post-title"> <i class="icon-headphones"></i><a href="blog-single_half.html">Et harum quidem rerum facilis est et expedita distinctio</a> </h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus...</p>
                    <div class="meta">
                        <span> <i class="icon-user mi"></i> Admin </span>
                        <span> <i class="icon-time mi"></i>August 20, 2013 2:00 AM </span>
                        <span> <a href="#"><i class="icon-comments-alt"></i> 4 Comments</a> </span>
                    </div><!-- meta -->
                    <a href="news_single.html" class="Rmore tbutton small"><span>Read More</span></a>
                </div><!-- post -->

                <div class="post row-fluid clearfix">
                    <a href="blog-single_half.html"><img src="images/assets/post1-big.jpg" alt="#"></a>
                    <h3 class="post-title"> <i class="icon-pencil"></i><a href="blog-single_half.html">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</a> </h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus...</p>
                    <div class="meta">
                        <span> <i class="icon-user mi"></i> Admin </span>
                        <span> <i class="icon-time mi"></i>August 20, 2013 2:00 AM </span>
                        <span> <a href="#"><i class="icon-comments-alt"></i> 4 Comments</a> </span>
                    </div><!-- meta -->
                    <a href="news_single.html" class="Rmore tbutton small"><span>Read More</span></a>
                </div><!-- post -->

                <div class="pagination-tt clearfix">
                    <ul>
                        <li><span class="deactive">1</span></li>
                        <li><a href="#" class="tbutton"><span>2</span></a></li>
                        <li><a href="#" class="tbutton"><span>3</span></a></li>
                        <li><span class="deactive">...</span></li>
                        <li><a href="#" class="tbutton"><span>8</span></a></li>
                    </ul>
                    <span class="pages">Page 1 of 8</span>
                </div><!-- pagination -->
            </div><!-- def block -->
        </div><!-- posts -->
    </div><!-- row clearfix -->
</div><!-- end page content -->