<footer id="footer">
    <div class="footer-first">
        <div class="row clearfix">
            <div class="grid_4">
                <div class="def-block widget animtt" data-gen="fadeUp" style="opacity:0">
                    <h4> Top Video </h4>
                    <span class="liner"></span>
                    <div class="widget-content">
                        <!-- video -->
                        <iframe src="http://player.vimeo.com/video/37999139?title=0&amp;byline=0&amp;portrait=0" width="100%" height="185"
                                frameborder="0"></iframe>
                    </div>
                    <!-- widget content -->
                </div>
                <!-- block -->
            </div>
            <!-- widget -->

            <div class="grid_4">
                <div class="def-block widget animtt" data-gen="fadeUp" style="opacity:0">
                    <h4> Latest Tweets </h4>
                    <span class="liner"></span>
                    <div class="widget-content">
                        <div class="tweet"></div>
                    </div>
                    <!-- widget content -->
                </div>
                <!-- block -->
            </div>
            <!-- widget -->

            <div class="grid_4">
                <div class="def-block widget animtt" data-gen="fadeUp" style="opacity:0">
                    <h4> Photo Stream </h4>
                    <span class="liner"></span>
                    <div class="widget-content">
                        <ul id="flickr-photos" class="flickr-photos clearfix"></ul>
                    </div>
                    <!-- widget content -->
                </div>
                <!-- block -->
            </div>
            <!-- widget -->
        </div>
        <!-- row -->
    </div>
    <!-- end first -->

    <div class="footer-last">
        <div class="row clearfix">
            <span class="copyright">
                © 2019 by
                <a href="http://yasir.com.pk">Pak Music Revolution</a>. All Rights Reserved. Powered by
                <a href="http://yasir.com.pk">HatfLabs</a>.
            </span>
            <div id="toTop">
                <i class="icon-angle-up"></i>
            </div>
            <!-- Back to top -->
            <div class="foot-menu">
                <ul>
                    <li>
                        <a href="index-2.html">Home</a>
                    </li>
                    <li>
                        <a href="mp3s.html">MP3</a>
                    </li>
                    <li>
                        <a href="videos.html">Video</a>
                    </li>
                    <li>
                        <a href="gallery.html">Photo Gallery</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
                <!-- end links -->
            </div>
            <!-- end foot menu -->
        </div>
        <!-- row -->
    </div>
    <!-- end last -->

</footer>